In [1]:
import numpy # if this line execute without any error --> numpy is already available --> need not to install again

In [2]:
import xyz # xyz is a random word and no module exists with that name

ModuleNotFoundError: No module named 'xyz'

In [ ]:
# ModuleNotFoundError
1. Spelling mistake
2. Case sensitive 
3. Install this module via pypi website

In [ ]:
# if you are getting modulenotfound error in future then use pip install to install that module

In [ ]:
# !pip install numpy # ! will asks python to install numpy in root folder

In [4]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

#### Creating an Array

In [5]:
# convert list/tuple into an array

In [6]:
ar1 = numpy.array([1,2,3,4,5])
ar1

array([1, 2, 3, 4, 5])

In [7]:
numpy.array([1,2.4,'python']) # U --> strings in numpy # even if single string is there output will be converted to string 
# arrays by default data type which is highest among them

array(['1', '2.4', 'python'], dtype='<U32')

In [ ]:
bool --> int --> float --> complex --> str

In [8]:
numpy.array([1,2.4,3,4,5])

array([1. , 2.4, 3. , 4. , 5. ])

In [9]:
list1 = [1,2,3,4,5]
[i**2 for i in list1]

[1, 4, 9, 16, 25]

In [10]:
ar1

array([1, 2, 3, 4, 5])

In [11]:
ar1 **2

array([ 1,  4,  9, 16, 25])

#### Creating an array

In [12]:
numpy.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [13]:
import numpy as np
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [14]:
np.zeros([3,4]) # 1 parameter # [3,4] --> shape 
# create an array with 3 rows and 4 columns with zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [22]:
np.random.random([3,4]) # 1 parameter --> [3,4]
# create an array with 3 rows and 4 columns with random numbers between 0 to 1

array([[0.47423073, 0.05263678, 0.0609706 , 0.36179105],
       [0.02082304, 0.77402155, 0.71258462, 0.46497191],
       [0.95058077, 0.66532522, 0.93132015, 0.48366667]])

In [ ]:
numpy --> module 
random --> class 
random --> method

In [27]:
np.random.randint(1,10,[3,4])  # 3 parameters # min, max , shape
# creates an array with 3 rows and 4 column with values between 1 to 9

array([[2, 9, 9, 1],
       [5, 4, 3, 2],
       [9, 5, 4, 1]])

#### Array Initialization

In [28]:
np.full([3,4], 10) # shape, value 
# create an array with 3 rows and 4 columns using value 10

array([[10, 10, 10, 10],
       [10, 10, 10, 10],
       [10, 10, 10, 10]])

In [29]:
np.full([2,2], 'a')

array([['a', 'a'],
       ['a', 'a']], dtype='<U1')

In [30]:
range(0,5)

range(0, 5)

In [31]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [32]:
list(range(0,5)) # end is not included

[0, 1, 2, 3, 4]

In [33]:
list(range(0,10,2)) # start , end (excluding), step (-1)

[0, 2, 4, 6, 8]

In [34]:
np.arange(0,5)

array([0, 1, 2, 3, 4])

In [35]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [36]:
np.linspace(0,10,6) # start, end(including), values
#  from 0 to 10 generate 6 values with equal difference/interval between them

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [37]:
np.linspace(0,20,13)

array([ 0.        ,  1.66666667,  3.33333333,  5.        ,  6.66666667,
        8.33333333, 10.        , 11.66666667, 13.33333333, 15.        ,
       16.66666667, 18.33333333, 20.        ])

In [38]:
# if i want to generate 9 numbers between 1 to 20 with equal difference 
np.linspace(1,20,9)

array([ 1.   ,  3.375,  5.75 ,  8.125, 10.5  , 12.875, 15.25 , 17.625,
       20.   ])

In [39]:
5.75 - 3.375

2.375

In [40]:
3.375 -1

2.375

#### Analysing array

In [41]:
ar1 = np.arange(1,8)
ar1

array([1, 2, 3, 4, 5, 6, 7])

In [42]:
ar1.size # no of elements in ar1

7

In [43]:
ar1.dtype # numbers : int/float ; string : U

dtype('int64')

In [ ]:
# python dynamically typed programming language
# based on given information python associates data with 32/64/128..
# SQL --> VARCHAR(255), BIGINT, SMALLINT

In [44]:
ar1.ndim # n dimensions

1

In [45]:
ar1 = np.arange(1,25)
ar1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [49]:
ar1.size

24

In [ ]:
1,24
2,12
3,8
4,6

In [47]:
# to modify 1D data into 2D --> reshape
ar2 = ar1.reshape(6,4)
ar2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [48]:
ar2.ndim

2

In [ ]:
# rows * columns = facotrs of array size

In [50]:
ar1.reshape(5,5)
# 5*5 != size (24)

ValueError: cannot reshape array of size 24 into shape (5,5)

In [51]:
ar1.reshape(3,3)
# 3*3 != 24

ValueError: cannot reshape array of size 24 into shape (3,3)

In [53]:
ar3 =  ar1.reshape(3,2,4) # create 3 sub arrays with 2 rows and 4 columns
ar3

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]],

       [[17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [54]:
ar3.ndim

3

#### Array Mathematics

In [56]:
ar1 = np.array([[10,20],[30,40]])
ar1

array([[10, 20],
       [30, 40]])

In [57]:
np.sum(ar1)

100

In [58]:
np.sum(ar1, axis = 0)

array([40, 60])

In [59]:
np.sum(ar1, axis = 1)

array([30, 70])

In [60]:
print(np.add(10,20))
print(np.subtract(10,20))
print(np.multiply(10,20))
print(np.divide(10,20))

30
-10
200
0.5

In [61]:
print(np.log(10))
print(np.sqrt(10))
print(np.exp(10))
print(np.sin(10))

2.302585092994046
3.1622776601683795
22026.465794806718
-0.5440211108893698

In [62]:
ar1

array([[10, 20],
       [30, 40]])

In [63]:
print(np.min(ar1))
print(np.max(ar1))
print(np.mean(ar1)) # average (10+20+30+40)/4

10
40
25.0