In [1]:
import pandas as pd
df1 = pd.read_csv('Auto.csv')
df1.head()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino

In [2]:
# Sort values

In [3]:
df1.sort_values(by = 'acceleration', ascending = False ) # Descending order

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
299,27.2,4.0,141.0,71,3190,24.8,79,2,peugeot 504
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup
326,43.4,4.0,90.0,48,2335,23.7,80,2,vw dasher (diesel)
59,23.0,4.0,97.0,54,2254,23.5,72,2,volkswagen type 3
195,29.0,4.0,85.0,52,2035,22.2,76,1,chevrolet chevette
...,...,...,...,...,...,...,...,...,...
12,15.0,NaN,400.0,150,3761,9.5,70,1,chevrolet monte carlo
6,NaN,8.0,NaN,220,4354,9.0,70,1,chevrolet impala
7,14.0,8.0,NaN,215,4312,8.5,70,1,plymouth fury iii
9,15.0,8.0,390.0,190,3850,8.5,70,1,amc ambassador dpl
11,14.0,NaN,340.0,160,3609,8.0,70,1,plymouth 'cuda 340

#### Take subset based on condition

In [5]:
cond1 =  df1['mpg'] > 40 # relational operators --> output will always be boolean
cond1

0      False
1      False
2      False
3      False
4      False
       ...
392    False
393     True
394    False
395    False
396    False
Name: mpg, Length: 397, dtype: bool

In [6]:
df1[cond1] # we are saying extract rows where value is True

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
244,43.1,4.0,90.0,48,1985,21.5,78,2,volkswagen rabbit custom diesel
309,41.5,4.0,98.0,76,2144,14.7,80,2,vw rabbit
322,46.6,4.0,86.0,65,2110,17.9,80,3,mazda glc
324,40.8,4.0,85.0,65,2110,19.2,80,3,datsun 210
325,44.3,4.0,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
326,43.4,4.0,90.0,48,2335,23.7,80,2,vw dasher (diesel)
329,44.6,4.0,91.0,67,1850,13.8,80,3,honda civic 1500 gl
330,40.9,4.0,85.0,?,1835,17.3,80,2,renault lecar deluxe
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup

In [7]:
cond2 =  (df1['mpg'] > 40 ) & (df1['origin'] == 3)
df1[cond2]

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
322,46.6,4.0,86.0,65,2110,17.9,80,3,mazda glc
324,40.8,4.0,85.0,65,2110,19.2,80,3,datsun 210
329,44.6,4.0,91.0,67,1850,13.8,80,3,honda civic 1500 gl

In [8]:
cond3 =  ~(df1['mpg'] > 40) # return the data where mpg value is less than 40
df1[cond3]

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
391,27.0,4.0,151.0,90,2950,17.3,82,1,chevrolet camaro
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [ ]:
# and --> comparing two values 
# & --> to compare two series

In [9]:
df1[ ~(df1['mpg'] > 40) ]# return the data where mpg value is less than 40

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
391,27.0,4.0,151.0,90,2950,17.3,82,1,chevrolet camaro
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [14]:
df1[(df1['mpg']>=20) & (df1['mpg']<=40)]

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
14,24.0,4.0,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6.0,198.0,95,2833,15.5,70,1,plymouth duster
17,21.0,6.0,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4.0,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4.0,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
...,...,...,...,...,...,...,...,...,...
391,27.0,4.0,151.0,90,2950,17.3,82,1,chevrolet camaro
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [13]:
df1[df1['mpg'].between(20,40)]

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
14,24.0,4.0,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6.0,198.0,95,2833,15.5,70,1,plymouth duster
17,21.0,6.0,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4.0,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4.0,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
...,...,...,...,...,...,...,...,...,...
391,27.0,4.0,151.0,90,2950,17.3,82,1,chevrolet camaro
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [15]:
df1['origin'].unique()

array([1, 3, 2])

In [18]:
df1[df1['origin'] == 1].shape[0]

248

In [19]:
df1[df1['origin'] == 2].shape[0]

70

In [29]:
df1[df1['origin'] == 3] # output is data frame

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
14,24.0,4.0,113.0,95,2372,15.0,70,3,toyota corona mark ii
18,27.0,4.0,97.0,88,2130,14.5,70,3,datsun pl510
29,27.0,4.0,97.0,88,2130,14.5,71,3,datsun pl510
31,25.0,4.0,113.0,95,2228,14.0,71,3,toyota corona
53,31.0,4.0,71.0,65,1773,19.0,71,3,toyota corolla 1200
...,...,...,...,...,...,...,...,...,...
381,34.0,4.0,108.0,70,2245,16.9,82,3,toyota corolla
382,38.0,4.0,91.0,67,1965,15.0,82,3,honda civic
383,32.0,4.0,91.0,67,1965,15.7,82,3,honda civic (auto)
384,38.0,4.0,91.0,67,1995,16.2,82,3,datsun 310 gx
389,32.0,4.0,144.0,96,2665,13.9,82,3,toyota celica gt

In [ ]:
# np.arange(1,25).reshape(6,4)

In [30]:
df1[df1['origin'] == 3].shape # output is tuple

(79, 9)

In [20]:
df1[df1['origin'] == 3].shape[0]

79

In [22]:
output =  df1['origin'].value_counts()
output

origin
1    248
3     79
2     70
Name: count, dtype: int64

In [24]:
output.index

Index([1, 3, 2], dtype='int64', name='origin')

In [25]:
output.values

array([248,  79,  70])

In [27]:
len(df1['year'].unique()) # in year column there are 13 unique values

13

In [28]:
df1['year'].nunique()

13

In [31]:
'ford' in 'toyota corona mark ii ford'

True

In [34]:
df1[df1['name'].isin(['ford'])] # exact match

Empty DataFrame
Columns: [mpg, cylinders, displacement, Horse Power, weight, acceleration, year, origin, name]
Index: []

In [36]:
df1[df1['name'].str.contains('ford', case = False)] # partial match # even Ford will be extracted

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino
5,NaN,8.0,NaN,198,4341,10.0,70,1,ford galaxie 500
17,21.0,6.0,200.0,85,2587,16.0,70,1,ford maverick
25,10.0,8.0,360.0,215,4615,14.0,70,1,ford f250
32,25.0,4.0,98.0,?,2046,19.0,71,1,ford pinto
36,19.0,6.0,250.0,88,3302,15.5,71,1,ford torino 500
40,14.0,8.0,351.0,153,4154,13.5,71,1,ford galaxie 500
43,13.0,8.0,400.0,170,4746,12.0,71,1,ford country squire (sw)
48,18.0,6.0,250.0,88,3139,14.5,71,1,ford mustang
61,21.0,4.0,122.0,86,2226,16.5,72,1,ford pinto runabout
65,14.0,8.0,351.0,153,4129,13.0,72,1,ford galaxie 500
74,13.0,8.0,302.0,140,4294,16.0,72,1,ford gran torino (sw)
80,22.0,4.0,122.0,86,2395,16.0,72,1,ford pinto (sw)
88,14.0,8.0,302.0,137,4042,14.5,73,1,ford gran torino
92,13.0,8.0,351.0,158,4363,13.0,73,1,ford ltd
100,18.0,6.0,250.0,88,3021,16.5,73,1,ford maverick
104,12.0,8.0,400.0,167,4906,12.5,73,1,ford country
112,19.0,4.0,122.0,85,2310,18.5,73,1,ford pinto
126,21.0,6.0,200.0,?,2875,17.0,74,1,ford maverick
130,26.0,4.0,122.0,80,2451,16.5,74,1,ford pinto
136,16.0,8.0,302.0,140,4141,14.0,74,1,ford gran torino
139,14.0,8.0,302.0,140,4638,16.0,74,1,ford gran torino (sw)
155,15.0,6.0,250.0,72,3158,19.5,75,1,ford maverick
159,14.0,8.0,351.0,148,4657,13.5,75,1,ford ltd
166,13.0,8.0,302.0,129,3169,12.0,75,1,ford mustang ii
168,23.0,4.0,140.0,83,2639,17.0,75,1,ford pinto
174,18.0,6.0,171.0,97,2984,14.5,75,1,ford pinto
190,14.5,8.0,351.0,152,4215,12.8,76,1,ford gran torino
193,24.0,6.0,200.0,81,3012,17.6,76,1,ford maverick
200,18.0,6.0,250.0,78,3574,21.0,76,1,ford granada ghia
206,26.5,4.0,140.0,72,2565,13.6,76,1,ford pinto
214,13.0,8.0,302.0,130,3870,15.0,76,1,ford f108
228,18.5,6.0,250.0,98,3525,19.0,77,1,ford granada
232,16.0,8.0,351.0,149,4335,14.5,77,1,ford thunderbird
236,25.5,4.0,140.0,89,2755,15.8,77,1,ford mustang ii 2+2
245,36.1,4.0,98.0,66,1800,14.4,78,1,ford fiesta
254,20.2,6.0,200.0,85,2965,15.8,78,1,ford fairmont (auto)
255,25.1,4.0,140.0,88,2720,15.4,78,1,ford fairmont (man)
264,18.1,8.0,302.0,139,3205,11.2,78,1,ford futura
282,22.3,4.0,140.0,88,2890,17.3,79,1,ford fairmont 4
286,17.6,8.0,302.0,129,3725,13.4,79,1,ford ltd landau
290,15.5,8.0,351.0,142,4054,14.3,79,1,ford country squire (sw)
314,26.4,4.0,140.0,88,2870,18.1,80,1,ford fairmont
336,23.6,4.0,140.0,?,2905,14.3,80,1,ford mustang cobra
351,34.4,4.0,98.0,65,2045,16.2,81,1,ford escort 4w
352,29.9,4.0,98.0,65,2380,20.7,81,1,ford escort 2h
365,20.2,6.0,200.0,88,3060,17.1,81,1,ford granada gl
373,24.0,4.0,140.0,92,2865,16.4,82,1,ford fairmont futura
388,22.0,6.0,232.0,112,2835,14.7,82,1,ford granada l
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger

In [38]:
list1 = ['a','b','c']
for i in list1:
    print(i.upper())

A
B
C

In [39]:
[i.upper() for i in list1]

['A', 'B', 'C']

In [41]:
# to apply a function on iterable
list(map(str.upper, list1))

['A', 'B', 'C']

In [43]:
dict1 = {'ford torino': 'FORD TORINO','ford galaxie 500': 'FORD galaxie 500'}
df1['col1'] = df1['name'].map(dict1)
df1

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,NaN
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite,NaN
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst,NaN
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino,FORD TORINO
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl,NaN
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup,NaN
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage,NaN
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger,NaN
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10,NaN