In [5]:
import pandas as pd

In [6]:
df1= pd.read_csv('Auto.csv')
df1

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [7]:
df1.head()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino

In [8]:
df1.head(10)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino
5,NaN,8.0,NaN,198,4341,10.0,70,1,ford galaxie 500
6,NaN,8.0,NaN,220,4354,9.0,70,1,chevrolet impala
7,14.0,8.0,NaN,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8.0,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8.0,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [9]:
df1.tail()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [10]:
df1.tail(5)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
392,27.0,4.0,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4.0,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4.0,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4.0,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4.0,119.0,82,2720,19.4,82,1,chevy s-10

In [11]:
df1.columns

Index(['mpg', 'cylinders', 'displacement', 'Horse Power', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [12]:
df1.shape

(397, 9)

In [13]:
df1.dtypes

mpg             float64
cylinders       float64
displacement    float64
Horse Power      object
weight            int64
acceleration    float64
year              int64
origin            int64
name             object
dtype: object

In [14]:
df1.isnull

<bound method DataFrame.isnull of       mpg  cylinders  displacement Horse Power  weight  acceleration  year  \
0    18.0        8.0         307.0         130    3504          12.0    70
1    15.0        8.0         350.0         165    3693          11.5    70
2     NaN        8.0         318.0         150    3436          11.0    70
3     NaN        8.0           NaN         150    3433          12.0    70
4     NaN        8.0           NaN         140    3449          10.5    70
..    ...        ...           ...         ...     ...           ...   ...
392  27.0        4.0         140.0          86    2790          15.6    82
393  44.0        4.0          97.0          52    2130          24.6    82
394  32.0        4.0         135.0          84    2295          11.6    82
395  28.0        4.0         120.0          79    2625          18.6    82
396  31.0        4.0         119.0          82    2720          19.4    82

     origin                       name
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
392       1            ford mustang gl
393       2                  vw pickup
394       1              dodge rampage
395       1                ford ranger
396       1                 chevy s-10

[397 rows x 9 columns]>

In [15]:
df1.isnull().sum()

mpg             5
cylinders       3
displacement    5
Horse Power     0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [16]:
df1.count()

mpg             392
cylinders       394
displacement    392
Horse Power     397
weight          397
acceleration    397
year            397
origin          397
name            397
dtype: int64

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     394 non-null    float64
 2   displacement  392 non-null    float64
 3   Horse Power   397 non-null    object
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [18]:
df1.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,392.000000,394.000000,392.000000,397.000000,397.000000,397.000000,397.000000
mean,23.611735,5.439086,191.080357,2970.261965,15.555668,75.994962,1.574307
std,7.827466,1.693452,102.452019,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,100.750000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,145.500000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,260.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [19]:
df1.mpg

0      18.0
1      15.0
2       NaN
3       NaN
4       NaN
       ...
392    27.0
393    44.0
394    32.0
395    28.0
396    31.0
Name: mpg, Length: 397, dtype: float64

In [20]:
x = df1['mpg']
type(x)

pandas.core.series.Series

In [21]:
df1['mpg']

0      18.0
1      15.0
2       NaN
3       NaN
4       NaN
       ...
392    27.0
393    44.0
394    32.0
395    28.0
396    31.0
Name: mpg, Length: 397, dtype: float64

In [22]:
df1[['mpg','acceleration','weight']]

      mpg  acceleration  weight
0    18.0          12.0    3504
1    15.0          11.5    3693
2     NaN          11.0    3436
3     NaN          12.0    3433
4     NaN          10.5    3449
..    ...           ...     ...
392  27.0          15.6    2790
393  44.0          24.6    2130
394  32.0          11.6    2295
395  28.0          18.6    2625
396  31.0          19.4    2720

[397 rows x 3 columns]

In [23]:
df1['mpg'].mean()

np.float64(23.611734693877548)

In [24]:
 df1[['mpg','acceleration','weight']].min()

mpg                9.0
acceleration       8.0
weight          1613.0
dtype: float64

In [25]:
#### Feature Engineering  sql price

In [26]:
df1.head(2)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320

In [27]:
df1['acceleration'] + df1['origin']

0      13.0
1      12.5
2      12.0
3      13.0
4      11.5
       ...
392    16.6
393    26.6
394    12.6
395    19.6
396    20.4
Length: 397, dtype: float64

In [28]:
df1['col1']= df1['acceleration'] + df1['origin']  # any opreation are used
df1.head(2)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,13.0
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,12.5

In [29]:
df1['col2'] = df1['acceleration'] **2
df1.head()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1,col2
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,13.0,144.00
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,12.5,132.25
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite,12.0,121.00
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst,13.0,144.00
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino,11.5,110.25

In [30]:
df1['col2'] = df1['acceleration'] **3
df1.head()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1,col2
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,13.0,1728.000
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,12.5,1520.875
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite,12.0,1331.000
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst,13.0,1728.000
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino,11.5,1157.625

In [31]:
df1.head(2)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1,col2
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,13.0,1728.000
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,12.5,1520.875

In [32]:
12*12*12

1728

In [33]:
12 **3

1728

In [34]:
12 **4

20736

In [35]:
12*12*12*12

20736

In [36]:
12 **6

2985984

In [37]:
12*12*12*12*12*12

2985984

In [38]:
#Data Cleaaning

In [39]:
 # to chng from one data type to another type
 # astype : Vaild data type cahnages can be done using astype: int to float
 # to_numeric : to handle invaild numeric data type change

In [40]:
df1['col4']= df1['acceleration'].astype(int)
df1.head(2)

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name,col1,col2,col4
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,13.0,1728.000,12
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320,12.5,1520.875,11

In [41]:
df1['col4']= df1['acceleration'].astype(int)
df1['Horse Power'].astype(int)
df1.head(2)

ValueError: invalid literal for int() with base 10: '?'

In [ ]:
df1['Horse Power'].isnull().sum() #there are no missing values

In [ ]:
df1['Horse Power'] = pd.to_numeric(df1['Horse Power'],errors = 'coerce') # this line is used for earse null values like eg.'?'
# coerce --> forceful --> if conversion is not possible remove that values(creating empty/blank)

In [ ]:
df1['Horse Power'].isnull().sum()
 # after conversion 5 missing values

In [ ]:
  df1.dtypes

In [ ]:
## Missing values / Null sql/ Blanks / NaN/ Empty

In [ ]:
# remove row where blank values
# replace Blank with something Else

In [ ]:
df1.head(10)

In [ ]:
383/397

In [ ]:
head()
dropna() # you are asking pandas to remove blank row and return the data

In [ ]:
df1.dropna()
# it is returning output (original df1 is not effected)
# df1 = df1.dropna() #to save your change to df1
#or
# df.dropna(inplace = true ) #commit() # make cahnges permanent on df1

In [ ]:
df1.shape

In [ ]:
#replace missing values

In [ ]:
df1['mpg'].mean()

In [ ]:
df1['mpg'] = df1['mpg'].fillna(23.611734693877548)
df1.head(10)

In [ ]:
df1['mpg'] = df1['mpg'].fillna(df1['mpg'].mean()) # using function called fillna
df1.head(10) # we are observing is it applied or not # check

In [ ]:
df1['displacement'] = df1['displacement'].fillna(df1['displacement'].mean())
df1.head(10)

In [50]:
df1.drop('col1',axis = 1, inplace = True)
df1

KeyError: "['col1'] not found in axis"

In [49]:
df1.drop(['col2','col4'], axis =1, inplace = True)

KeyError: "['col2', 'col4'] not found in axis"